body {
  background-image: url("../img/bg.png"); }

.container {
  background-color: white;
  margin-top: 15px;
  border: solid 1px #e8e8e8;
  padding: 0; }

.fill {
  width: 100%; }

.top-row {
  padding: 15px; }

@media (max-width: 996px) {
  .title {
    display: block; } }

.subtitle {
  font-size: 20px;
  color: gray; }

.no-padding-left, .no-padding {
  padding-left: 0; }

.no-padding-right, .no-padding {
  padding-right: 0; }

@media (max-width: 991px) {
  .no-padding-right-sm {
    padding-right: 0; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .no-padding-right-md {
    padding-right: 0; } }

.float-right {
  float: right; }

.teams .blue-team {
  background-color: #4F94D9;
  padding-left: 15px;
  padding-right: 15px; }
.teams .blue-team .summoners {
  color: black;
  font-weight: bold; }
.teams .blue-team .summoners > .row:nth-child(odd) {
  background-color: white; }
.teams .blue-team .summoners > .row:nth-child(even) {
  background-color: #f0f0f0; }
.teams .blue-team .summoners .summoner {
  height: 40px; }
.teams .blue-team .summoners .summoner .vcp {
  display: table; }
.teams .blue-team .summoners .summoner .summoner-name {
  color: grey;
  font-size: 20px;
  line-height: 40px; }
.teams .blue-team .summoners .summoner .summoner-spell {
  width: 50%; }
.teams .blue-team .summoners .summoner .champion .champion-img {
  padding: 0; }
  .teams .blue-team .summoners .summoner .champion .champion-img > img {
    height: 40px;
    float: right; }
.teams .blue-team .summoners .summoner .champion .summoner-spells {
  padding: 0; }
  .teams .blue-team .summoners .summoner .champion .summoner-spells > img {
    height: 20px;
    float: left; }
.teams .blue-team .summoners .summoner .league-img > img {
  height: 40px; }
.teams .blue-team .summoners .summoner .league-text {
  font-weight: bold; }
.teams .blue-team .summoners .summoner .runes, .teams .blue-team .summoners .summoner .masteries, .teams .blue-team .summoners .summoner .summoner-name {
  line-height: 40px; }
.teams .blue-team .team-header, .teams .blue-team .team-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  color: white; }
.teams .purple-team {
  background-color: #D26FA7;
  padding-left: 15px;
  padding-right: 15px; }
.teams .purple-team .summoners {
  color: black;
  font-weight: bold; }
.teams .purple-team .summoners > .row:nth-child(odd) {
  background-color: white; }
.teams .purple-team .summoners > .row:nth-child(even) {
  background-color: #f0f0f0; }
.teams .purple-team .summoners .summoner {
  height: 40px; }
.teams .purple-team .summoners .summoner .vcp {
  display: table; }
.teams .purple-team .summoners .summoner .summoner-name {
  color: grey;
  font-size: 20px;
  line-height: 40px; }
.teams .purple-team .summoners .summoner .summoner-spell {
  width: 50%; }
.teams .purple-team .summoners .summoner .champion .champion-img {
  padding: 0; }
  .teams .purple-team .summoners .summoner .champion .champion-img > img {
    height: 40px;
    float: right; }
.teams .purple-team .summoners .summoner .champion .summoner-spells {
  padding: 0; }
  .teams .purple-team .summoners .summoner .champion .summoner-spells > img {
    height: 20px;
    float: left; }
.teams .purple-team .summoners .summoner .league-img > img {
  height: 40px; }
.teams .purple-team .summoners .summoner .league-text {
  font-weight: bold; }
.teams .purple-team .summoners .summoner .runes, .teams .purple-team .summoners .summoner .masteries, .teams .purple-team .summoners .summoner .summoner-name {
  line-height: 40px; }
.teams .purple-team .team-header, .teams .purple-team .team-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  color: white; }

.green {
  color: #33aa00;
  font-weight: bold; }

.red {
  color: #ff7777;
  font-weight: bold; }

.blue {
  color: #7777ff;
  font-weight: bold; }

.text-center {
  text-align: center; }

/*
    
    & {
        background-color: #4F94D9;
        padding-top: $margin-small/2;
        padding-bottom: $margin-small/2;
        padding-left: $margin-small;
        padding-right: $margin-small;
        color: white;   
        font-weight: bold;
    }
}

*/

/*# sourceMappingURL=main.css.map */
