
body{
    background-image: url("../img/bg.png");
}

.container{
    margin-top: 10px;
    background-color: #fff;
}
.fitted {
    max-width: 60%;
    max-height: 60%;
    float: left;
}

.fitted2 {
    max-width: 30%;
    max-height: 30%;
    float: left;
}

.spell1 {
}

.spell2 {
}

.champ {
    padding-right: 0px;
}

.rowtop2 {
    background-color: #4F94D9;
    font-weight: bold;
    color: #ffffff;
    margin-top: 30px;
}

.rowtop1 {
    background-color: #4F94D9;
    font-weight: bold;
    color: #ffffff;
}

.rowtop4 {
    background-color: #F26F97;
    font-weight: bold;
    color: #ffffff;
    margin-top: 10px;
}

.rowtop3 {
    background-color: #F26F97;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 15px;
}

.vc {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.blue1 {
    color: #7777ff;
    font-weight: bold;
}

.red1 {
    color: #ff7777;
    font-weight: bold;
}

.green1 {
    color: #33aa00;
    font-weight: bold;
}

.grey1 {
    color: #565656;
    font-weight: bold;
}

.fr {
    float: right;
}

.cr1 {
    border-bottom: 1px solid #ccc;
    background-color: #efefef;
}

.cr1:hover {
    border-bottom: 1px solid #ccc;
    background-color: #e8e8e8;
}

.cr2 {
    background-color: #fcfcfc;
}

.cr2:hover {
    background-color: #f4f4f4;
}

.cr3 {
    border-bottom: 1px solid #ccc;
    background-color: #fff0c0;
}

.cr3:hover {
    background-color: #f8e8b8;
}

.vs {
    font-weight: bold;
    color: #565656;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.sicon {
}

.logo {
    font-weight: bold;
    color: #565656;
}

.logo1 {
    margin-top: 0;
}

.bigNameContainer{
    padding-left: 3px;
}

.bans img {
    max-width: 25%;
    max-height: 25%;
    float: left;
}

.spinner {
    animation: spin .7s infinite linear;
    -webkit-animation: spin .7s infinite linear;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: scale(1) rotate(0deg); }
    100% { transform: scale(1) rotate(360deg); }
}



#searchButton {
    transition: background-color 1s, color 0.2s;
}

form {
    margin: 0;
}

.searchArea {
    margin: 15px;
    margin-top: 0px;
}

.middle {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.maincont {
    padding-top: 15px;
    min-width: 940px;
}

.bronze {
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    background-image: url("../img/tier/bronze.png");
    float: left;
    position: relative;
    left: 20px;
}

.silver {
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    background-image: url("../img/tier/silver.png");
    float: left;
    position: relative;
    left: 20px;
}

.gold {
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    background-image: url("../img/tier/gold.png");
    float: left;
    position: relative;
    left: 20px;
}

.platinum {
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    background-image: url("../img/tier/platinum.png");
    float: left;
    position: relative;
    left: 20px;
}

.diamond {
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    background-image: url("../img/tier/diamond.png");
    float: left;
    position: relative;
    left: 20px;
}

.master {
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    background-image: url("../img/tier/master.png");
    float: left;
    position: relative;
    left: 20px;
}

.challenger {
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    background-image: url("../img/tier/challenger.png");
    float: left;
    position: relative;
    left: 20px;
}

.masteries {
    cursor: pointer;
}

.popover{
    max-width: 100%;
}
.popover-content{
    padding: 0;
}