<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/main.js"></script>
    </head>
    <body>
        <div id="template" style="display: none;">
            <div class="row row_summoner">     
                <div class="col-md-2 vc grey1">
                    <h4 class="row_name"></h4>                   
                </div>           
                <div class="col-md-1 champ vc">
                    <img class="fitted champ_icon" src="">
                    <img class="fitted2 spell1" src="">
                    <img class="fitted2 spell2" src="">       
                </div>
                <div class="col-md-1 vc grey1 row_s5 middle"></div>
                <div class="col-md-1 vc grey1"></div>
                <div class="col-md-1 vc middle">
                    <span class="grey1"></span>
                    <br>
                    <span class="green1"></span> / <span class="red1"></span>
                </div>
                <div class="col-md-1 vc middle">
                    <span class="grey1 kda"></span>
                    <br>
                    <span class="green1 kda_k"></span> / <span class="red1  kda_d"></span> / <span class="blue1 kda_a"></span>
                </div>
                <div class="col-md-1 vc grey1 champWins middle">
                    &nbsp;<span class="grey1 rate"></span>   
                    <br>
                    <span class="green1 wins"></span> / <span class="red1 losses"></span>
                </div>
                <div class="col-md-1 vc middle">
                    <span class="runes" data-toggle="tooltip" data-placement="bottom"></span>
                </div>
                <div class="col-md-1 vc middle">
                    <span class="red1 moc"></span> / <span class="blue1 mdc"></span> / <span class="green1 muc"></span>
                </div>
            </div>  
        </div>
        <div class="container">
            <div>&nbsp;</div>
            <div id="alerts"></div>
            <div id="teams" style="display: none;">
                <div class="row">
                    <img class="col-md-1 sicon" id="bigIcon" src="">
                    <h2 class="col-md-9 bigNameContainer"><span id="bigName"></span> <small id="gameinfo"></small></h2>
                    <h1 class="col-md-2 logo">KiviBot</h2>
                </div>
                <div id="t100">
                    <div class="row rowtop2">
                        <div class="col-md-2 vc">Name</div>
                        <div class="col-md-1 vc">Champion</div>
                        <div class="col-md-1 vc middle">Season 5 Rank</div>
                        <div class="col-md-1 vc middle">Wins</div>
                        <div class="col-md-1 vc middle">Win rate</div>
                        <div class="col-md-1 vc middle">Champion KDA</div>
                        <div class="col-md-1 vc middle">Champion win rate</div>
                        <div class="col-md-1 vc middle">Runes</div>
                        <div class="col-md-1 vc middle">Masteries</div>
                    </div>

                </div>

                <div id="t100_summoners">
                </div>

                <div class="row rowtop1">
                    <div class="col-md-1 vc">
                        Bans:
                    </div>
                    <div class="col-md-2 vc bans" id="t100_bans">
                    </div>
                    <div class="col-md-1 vc">
                        &nbsp;<br>&nbsp;
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 tc">
                        <h1 class="vs">VS</h1>
                    </div>
                </div>
                <div id="t200">
                    <div class="row rowtop4">
                        <div class="col-md-2 vc">Name</div>
                        <div class="col-md-1 vc">Champion</div>
                        <div class="col-md-1 vc middle">Season 5 Rank</div>
                        <div class="col-md-1 vc middle">Wins</div>
                        <div class="col-md-1 vc middle">Win rate</div>
                        <div class="col-md-1 vc middle">Champion KDA</div>
                        <div class="col-md-1 vc middle">Champion win rate</div>
                        <div class="col-md-1 vc middle">Runes</div>
                        <div class="col-md-1 vc middle">Masteries</div>
                    </div>
                    <div id="t200_summoners">
                    </div>
                    <div class="row rowtop3">
                        <div class="col-md-1 vc">
                            Bans:
                        </div>
                        <div class="col-md-2 vc bans" id="t200_bans">
                        </div>
                        <div class="col-md-1 vc">
                            &nbsp;<br>&nbsp;
                        </div>
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="row">
                <form action="/" method="get">
                    <div class="col-md-3 input-group searchArea">
                        <input type="text" name="summoner" class="form-control" id="summonerInput" placeholder="Summoner">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="searchButton" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true" id="searchButtonImage"></span>
                                <span id="searchButtonText">Search</span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <#if autoFind>
        <script>$(document).ready(function () {
                search("${summoner}")
            });</script>
        </#if>
    </body>
</html>
