$margin-small: 15px;
$green: #33aa00;
$red: #ff7777;
$blue: #7777ff;
$blue-team-color: #4F94D9;
$purple-team-color: #D26FA7;
$line-height: 20px;

body {
    background-image: url("../img/bg.png");
}

.container {
    background-color: white;
    margin-top: $margin-small;
    border: solid 1px #e8e8e8;
    padding: 0;
}

.fill {
    width: 100%;
}

.top-row {
    padding: $margin-small;
}

.title {
    @media (max-width: 996px) {
        display: block;
    }
}

.subtitle {
    font-size: 20px;
    color: gray;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-right-sm {
    @media (max-width: 991px){
        padding-right: 0;
    }
}

.no-padding-right-md {
    @media (min-width:992px) and (max-width: 1199px){
        padding-right: 0;
    }
}

.no-padding {
    @extend .no-padding-left; 
    @extend .no-padding-right;
}


.float-right {
    float: right;
}

.teams {
    @mixin team($team-color){
        & {
            background-color: $team-color;
            padding-left: $margin-small;
            padding-right: $margin-small;
        }
        .summoners {
            & {
                color: black;
                font-weight: bold;
            }
            > .row  {
                &:nth-child(odd){
                    background-color: white;
                }
                &:nth-child(even){
                    background-color: #f0f0f0;
                }
                & {
                }
            }
            .summoner {
                & {
                    height: 40px;
                }
                .vcp {
                    & {   
                        display: table;
                    }
                }
                .summoner-name {
                    color: grey;
                    font-size: 20px;
                    line-height: 40px;
                }
                .summoner-spell {
                    width: 50%;
                }
                .champion
                { 
                    & {
                    }
                    .champion-img {
                        padding: 0;
                        > img{
                            height: $line-height*2;
                            float: right;
                        }
                    }
                    .summoner-spells {
                        padding: 0;
                        > img {
                            height: $line-height;
                            float: left;
                        }
                    }
                }
                .league-img > img{
                    height: $line-height*2;
                }
                .league-text{
                    font-weight: bold;
                }
                .soloq {
                    & {
                    }

                }
                .runes, .masteries, .summoner-name {       
                    line-height: $line-height*2;
                }
            }
        }
        .team-header, .team-footer {            
            padding-top: $line-height/2;
            padding-bottom: $line-height/2;
            font-weight: bold;
            color: white;   
        }
    }
    .blue-team{@include team($blue-team-color);}
    .purple-team{@include team($purple-team-color);}
}

.green{
    color: $green;
    font-weight: bold;
}
.red{
    color: $red;
    font-weight: bold;
}
.blue{
    color: $blue;
    font-weight: bold;
}

.text-center{
    text-align: center;
}

/*
    
    & {
        background-color: #4F94D9;
        padding-top: $margin-small/2;
        padding-bottom: $margin-small/2;
        padding-left: $margin-small;
        padding-right: $margin-small;
        color: white;   
        font-weight: bold;
    }
}

*/